<div id="footer">
    <div id="footer-contents">
        <div id="copyright">Copyright © 2000-2014 LOCKON CO.,LTD. All Rights Reserved.</div>
        <div id="topagetop">
            <ul class="sites">
                <li><a href="/#top" class="btn-tool-format">PAGE TOP</a></li>
            </ul>
        </div>
    </div>
</div>

